<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student</title>
    <link rel="stylesheet" th:href="@{/css/css/bootstrap.min.css}">
</head>
<body>

<div class="container">
    <h1>Edit student</h1>

    <form th:action="@{'/students/edit/'+${student.id}}" th:object="${student}" method="post">

        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" th:field="*{name}"  id="name" placeholder="Введите имя">
            <label for="age">Возраст</label>
            <input type="text" th:field="*{age}"  id="age" placeholder="Введите возраст">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>

</body>
</html>